.dashboard {
  display: flex;
  min-height: 100%;
}

.dashboard > .dashboard-main-section {
  flex-grow: 1;
  min-height: 100vh;
  overflow: auto;
  padding: 100px 90px 86px 224px;
  box-sizing: border-box;
}

.dashboard > .dashboard-main-section h1 {
  font-size: 3rem;
  margin-bottom: 41px;
}

.dashboard > .dashboard-main-section .title-username {
  color: var(--color-accent-red);
}

.dashboard > .dashboard-main-section > h2 {
  font-size: 1.125rem;
  margin-bottom: 77px;
}

.dashboard > .dashboard-main-section>  #dashboard-cards-container {
  display: flex;
  column-gap: 31px;
}

.dashboard > .dashboard-main-section>  #dashboard-cards-container > section:first-child {
  flex-basis: 80%;
}

.dashboard > .dashboard-main-section>  #dashboard-cards-container > section:last-child {
  flex-basis: 20%;
}
.dashboard > .dashboard-main-section>  #dashboard-cards-container > section:last-child > :not(:last-child) {
  margin-bottom: 39px;
}
