/* App logo */

.appLogo {
  color: var(--color-accent-red);
  display: flex;
}

.appLogo p {
  margin: auto;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 10px;
}

/* Layout */

.layout > header {
  position: fixed;
  z-index: 20;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.layoutNavigation {
  background: var(--color-main-1);
  padding: 19px 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layoutNavigation a {
  color: var(--color-common-1);
  text-decoration: none;
  font-size: 1.5rem;
}

.layoutNavigation a:last-child {
  margin-right: 59px;
}

/* Sidebar navigation */

.sidebarNavigation {
  position: fixed;
  z-index: 10;
  height: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: var(--color-main-1);
  padding: 0 26px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}

.sidebarNavigation > button {
  background: var(--color-common-1);
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  border-radius: 6px;
  box-sizing: border-box;
  color: var(--color-accent-red);

  outline: none;
  border: none;
  cursor: pointer;
}

/* Cards */
.cardNeutral, .cardDark, .cardRed {
  padding: 32px;
  border-radius: 5px;
}

.cardNeutral {
  background-color: var(--color-main-2);
}
.cardDark {
  background-color: var(--color-main-3);
}
.cardRed {
  background-color: var(--color-accent-red);
}

.infoCard {
  display: flex;
  align-items: center;
  background-color: var(--color-main-2);
  gap: 24px;
}

.infoCardIcon {
  padding: 20px;
  aspect-ratio: 1/1;
  width: 60px;
  box-sizing: border-box;
  border-radius: 6px;
}

.infoCardIcon svg {
  display: block;
  justify-self: center;
}

.infoCardIcon.red {
  color: var(--color-accent-red);
  background-color: var(--color-accent-red-2);
}

.infoCardIcon.blue {
  color: var(--color-accent-blue);
  background-color: var(--color-accent-blue-2);
}

.infoCardIcon.yellow {
  color: var(--color-accent-yellow);
  background-color: var(--color-accent-yellow-2);
}

.infoCardIcon.pink {
  color: var(--color-accent-pink);
  background-color: var(--color-accent-pink-2);
}

.infoCardDetails > p {
  margin: 0;
}

.infoCardDetails > p:first-child {
  font-size: 1.25rem;
}

.infoCardDetails > p:last-child {
  color: var(--color-main-4);
  font-size: 0.875rem;
}
