/* App logo */

.appLogo {
  color: var(--color-accent-red);
  display: flex;
}

.appLogo p {
  margin: auto;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 10px;
}

/* Layout */

.layout > header {
  position: fixed;
  z-index: 20;
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.layoutNavigation {
  background: var(--color-main-1);
  padding: 19px 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layoutNavigation a {
  color: var(--color-common-1);
  text-decoration: none;
  font-size: 1.5rem;
}

.layoutNavigation a:last-child {
  margin-right: 59px;
}

/* Sidebar navigation */

.sidebarNavigation {
  position: fixed;
  z-index: 10;
  height: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: var(--color-main-1);
  padding: 0 26px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}

.sidebarNavigation > button {
  background: var(--color-common-1);
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  border-radius: 6px;
  box-sizing: border-box;
  color: var(--color-accent-red);

  outline: none;
  border: none;
  cursor: pointer;
}

.sidebarNavigation .copyrightMention {
  color: var(--color-common-1);
  white-space: nowrap;
  position: absolute;
  font-size: 0.75rem;
  bottom: 10%;
  right: 0;
  left: 0;
  transform: rotate(270deg);
}

/* Cards */
.cardNeutral,
.cardDark,
.cardRed {
  padding: 32px;
  border-radius: 5px;
  position: relative;
}

.cardNeutral {
  background-color: var(--color-main-2);
}
.cardNeutral .cardTitle {
  color: var(--color-common-2);
  opacity: 0.5;
  margin: 0;
}

.cardDark {
  background-color: var(--color-main-3);
}

.cardRed {
  background: linear-gradient(
    90deg,
    var(--color-accent-red) 70%,
    var(--color-accent-red-3) 30%
  );
}

.cardRed .cardTitle {
  color: var(--color-common-1);
  opacity: 0.5;
  margin: 0;
}

.activityCard {
  aspect-ratio: 835/320;
}

.sessionTypeRadarCard {
  padding: 0;
}

.activityCard .activityCardTooltip {
  background: #e60000;
  padding: 10px;
  color: white;
}

.activityCard .activityCardLegend {
  display: flex;
  margin-bottom: 64px;
  justify-content: space-between;
}

.activityCard .activityCardLegend p,
.activityCard .activityCardLegend h3 {
  margin: 0;
}

.activityCard .activityCardLegend p {
  margin: 0;
}

.activityCard .activityCardLegendColors {
  display: flex;
  gap: 32px;
}

.activityCard .activityCardLegendColors > article {
  display: flex;
  gap: 12px;
  align-items: center;
}

.activityCard .activityCardLegendColors > article span {
  width: 8px;
  height: 8px;
  border-radius: 8px;
}

.sessionTypeRadarCard .radarTick {
  font-size: 0.8rem;
}

.userScore {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  color: var(--color-main-4);
  max-width: 20%;
  text-align: center;
}

.userScore strong {
  font-size: 1.625rem;
  font-weight: 700;
  color: var(--color-main-3);
}

.infoCard {
  display: flex;
  align-items: center;
  background-color: var(--color-main-2);
  gap: 24px;
}

.infoCardIcon {
  padding: 20px;
  aspect-ratio: 1/1;
  width: 60px;
  box-sizing: border-box;
  border-radius: 6px;
}

.infoCardIcon svg {
  display: block;
  justify-self: center;
}

.infoCardIcon.red {
  color: var(--color-accent-red);
  background-color: var(--color-accent-red-2);
}

.infoCardIcon.blue {
  color: var(--color-accent-blue);
  background-color: var(--color-accent-blue-2);
}

.infoCardIcon.yellow {
  color: var(--color-accent-yellow);
  background-color: var(--color-accent-yellow-2);
}

.infoCardIcon.pink {
  color: var(--color-accent-pink);
  background-color: var(--color-accent-pink-2);
}

.infoCardDetails > p {
  margin: 0;
}

.infoCardDetails > p:first-child {
  font-size: 1.25rem;
}

.infoCardDetails > p:last-child {
  color: var(--color-main-4);
  font-size: 0.875rem;
}

@media screen and (max-width: 1024px) {
  .activityCard,
  .cardRed,
  .cardDark,
  .cardNeutral {
    font-size: 0.5rem;
    padding: 8px;
  }
  .activityCard .activityCardLegend {
    margin-bottom: 32px;
  }
  .sessionTypeRadarCard {
    padding: 0;
  }
  .sessionTypeRadarCard .radarTick {
    font-size: 0.3rem;
  }

  .userScore {
    font-size: 0.6rem;
  }

  .userScore strong {
    font-size: 0.8rem;
  }

  .appLogo p {
    font-size: 1rem;
  }

  .layoutNavigation {
    padding: 10px 20px;
  }

  .layoutNavigation a {
    font-size: 1rem;
  }

  .sidebarNavigation {
    padding: 0 20px;
  }

  .sidebarNavigation > button {
    padding: 12px;
  }

  .sidebarNavigation > button svg {
    width: 24px;
    height: 24px;
  }
}
